.App header {
  background-color: #1f2535;
  color: white;
}

.App .info-panel {
  max-width: 400px;
  padding: 70px 0;
}

.App .info-panel h1 {
  font-size: 4em;
}


.App .box img {
  max-width: 120px;
}
.App .box-content {
  padding: 0 15px;
}
