body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn-primary {
  background-color: white;
  color: #1f2535;
  font-weight: 500;
  border: none;
  border-radius: 2px;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: #D1D1D1;
  border-color: #f1f1f1;
  color: #1f2535;
}
